.search-section
  .row
    .span2.search-logo
      = image_tag 'search_logo.png', alt: 'koreport'
    .span10.search-form
      = render 'shared/search_form'

- content_for :below do
  .row
    .span10       
      .pakage-section
        .section-title
          .title-label
            %span Package
        .section-content
          = render(partial: 'package', collection: @packages) || "no result."
