/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require_self
 *= require_tree .
 */
$heroUnitBackground: #FFF;
$btnInfoBackground: #6B51A7;
$btnInfoBackgroundHighlight: #564185;

@import 'bootstrap';
@import 'font-awesome';

// header.
.navbar .brand {
    padding: 0px 0px 0px 0px;
}

// application.

.above {
    padding-top : 60px;
    background: url('https://d3dma7a8zw52bz.cloudfront.net/assets/wallpapers/paper-f71f08fcbae1cf0f3df9ec0d9fb000fa.jpg') #F5EFE6;
}

.below {
    background-color: $white;
}

.container{
margin: 10px auto;
float: none;
}

// footer.
footer .content {
    padding: 20px 0;
    border-top: 3px solid #B6B6B6;
}