/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require_self
 *= require_tree .
 */
$heroUnitBackground: #FFF;
$btnInfoBackground: #6B51A7;
$btnInfoBackgroundHighlight: #564185;

@import 'bootstrap';
@import 'font-awesome';

// header.
.navbar {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#F8F8F8', GradientType=0)
}
.navbar .brand {
    padding: 0px 0px 0px 0px;
}

// application.
body {

}
.above {
    margin-top: 60px;
    background: url('https://d3dma7a8zw52bz.cloudfront.net/assets/wallpapers/paper-f71f08fcbae1cf0f3df9ec0d9fb000fa.jpg') #F5EFE6;
}

.below {
    background-color: $white;
}

.container{
margin: 0px auto;
float: none;
}

// footer.

footer {
    background-color: $white;
}
footer .content {
    padding: 20px 0;
    border-top: 3px solid #B6B6B6;
}

// frame.
.frame {
    border: 2px solid #FAFAFA;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 20px;
    margin: 50px auto;
    
    .title {
        text-align: left;
        span {
            padding-left: 10px;
            border-left: 5px solid #0c68a4;
            color: #2589c9;
            font-size: 15px;
        }
    }

    .process {
        text-align: right;
    }

    .content {
        margin: 30px auto;
    }
}
        
