// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/mixins";
@import "bootstrap/variables";

// koreport#index
.logo-and-search {
    text-align : center;
    padding: 20px;
}

.thumbnail {
    border: none;
}

.sign-up {
    .sign-up-guide {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

// koreport#search
.content-result {
    margin-top: 20px;
}

.section-title {
    border-b: 3px solid #F5F1E8;
}

.title-label {
    display: inline;
    padding: 4px 16px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -border-radius: 3px;
    font-size: 12pt;
    font-weight: bold;
    color: black;
    line-hegiht: 20px;
    vertical-align: center;
    white-space: nowrap;
    background-color: #F5F1E8;
}

.package, .report{
    margin: 20px 0;
    
    .content {
        height: 60px;
    }

    .info {
        text-align: right;
        color: #B6B6B6;
    }
}