// Place all the styles related to the purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.package-list, .report-list {
    thead {
        border-bottom: 3px solid #157bdc;
        th {
            text-align: center;
        }
    }
    tbody {
        td {
            text-align: center;
        }
        .sum {
            color: #F00;
        }
    }
}

.payment-result {
    background: url('payment_bg.png') center no-repeat;
    height: 113px;
    thead {
        th {
            text-align: right;
            padding-right: 5px;
        }
    }
    
    tbody {
        td {
            text-align: right;
            padding-right: 30px;
            font-size: 20px;
        }
        .total {
            color: #F00;
        }
    }
}

.order-complete {
    background: url('order_complete.png') center no-repeat;
    height: 420px;
    .phrase {
        padding-top: 200px;
        padding-left: 400px;
        .price {
            color: #F00;
            font-size: 15px;
        }
        .account {
            font-weight: bold;
            font-size: 15px;
        }
    }
}