// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// action: show.

@import 'bootstrap/mixins';
@import 'bootstrap/variables';

.tag{
    vertical-align: middle;
    span {
        font-size: 20px;
        line-height: 35px;
    }
}

.desc-info {
    background-color: $white;
    @include box-shadow($shadow: 0px 1px 3px rgba(0,0,0,.25));
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    .page-header {
        margin-left: 10px;
        margin-right: -10px;
    }
    .information {
        font-size: 15px;
        .page {
        margin-left: 30px;
        }
    }
}

.price-and-download {
    margin-left:10px;
    li {
        text-align: center;
        line-height: 30px;
        .price {
            font-size: 20px;
        }
        .page {
            font-size: 15px;
        }
    }
}

.desc-content .span12 {
    background-color: $white;
    @include box-shadow($shadow: 0px 1px 3px rgba(0,0,0,.25));
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 920px;
    padding-left: 10px;
    padding-right: 10px;
    .span6 {
        width: 450px;
    }
    img {
        margin-bottom: 10px;
    }
}