// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// action: show.

@import 'bootstrap/mixins';
@import 'bootstrap/variables';

.panel {
    .info{
        background-color: $white;
        .mark {
         text-align: center;
        }
    }
    
    .control {
        background-color: $black;
        .color-tap {
            height: 60px;
            background-color: #2589C9;
            color: #2589C9;
        }
        .buttons {
            padding-right: 10px;
            line-height: 60px;
            text-align: right;
            vertical-align: middle;
            .price {
                color: $white;
            }
            a {
                margin-left: 10px;
            }
        }
    }
}

.contents {
    margin: 10px auto;
    border-top: 3px solid #939393;
    background-color: #fefefe;
    .contents-title {
        background-color: #F4F4F4;
        .span3 {
            background-color: $white;
            padding-left: 10px;
            h2 {
                border-left: 5px solid #4F535a;
                padding-left: 10px
            }
        }
    }

    .label {
        margin-left: 10px;
        width: 100px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        background: url('label_bg.png') center no-repeat;
    }
}
