// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// sign-in
.window {
    background: url('window_bg.png') center bottom no-repeat;
    background-color: white;
    border-top: 5px solid #939393;
    color: #2589c9;
    margin: 50px auto;
    .window-bar {
        .window-label {
            background-color: white;
            height: 50px;
            text-align: center;
            vertical-align: middle;
            line-height: 50px;
            span {
                color: #2589c9;
                border-left: 10px solid #0c68a4;
                font-size: 20px;
                word-spacing: 10px;
                padding-left: 10px;
            }
        }
        .span10 {
            margin-left: 0px;
            padding-right: 10px;
            width: 790px;
            height: 50px;
            line-height: 50px;
            text-align: right;
            vertical-align: baseline;
            background-color: #FAFAFA;
        }
        .span7 {
            margin-left: 0px;
            padding-right: 10px;
            width: 550px;
            height: 50px;
            line-height: 50px;
            text-align: right;
            vertical-align: baseline;
            background-color: #FAFAFA;
        }
    }
    .content {
        padding-top: 30px;
        padding-bottom: 30px;
        .row {
            .form {
                margin-top: 40px;
                margin-bottom: 60px;
                .btn {
                    width: 132px;
                }
            }
            
        }
        .info-text {
            text-align: right;
        }
        .row {
            margin-top: 10px;
            margin-bottom: 10px;
            .btn {
                width:110px;
            }
        }
    }
}

// sign-up-complete
.sign-up-complete {
    width: 940px;
    height: 443px;
    background: url('sign_up_complete.png') center no-repeat;
    margin: 100px auto;
    .go-to-main-button {
        margin-left: 420px;
        padding-top: 300px;
    }
}

// my page.
.page-header {
    height: 60px;
}

.window-content {
    padding-bottom: 150px;
}