<html>
	<head>
	</head>
	<body>

		<div id="myDiv" style="width:885px; height:1200px; overflow:hidden; border:solid 1px #a6a6a6;"></div>

		<br/>
			<% gon.images.each do |doc_img| %>
				<%= link_to image_tag(doc_img.url(:thumb)), doc_img.url%>
			<% end %>
	</body>
</html>
