<html>
  <head>
	<style type="text/css">
		*{ margin:0; padding:0;}
		body{text-align:center;}
		
		#wapper{text-align:left; width:1200px; margin:0 auto;}
		header, nav, aside, section{
			display:block;
		}
		header, footer{
			width:100%;
		}
		nav{
			width:7%;
			float:left;
		}
		section{
			width:86%;
			float:left;	
		}
		aside{
			width:7%;
			float:right;
		}
	</style>
  </head>
  <body>
  <div id="wapper">
    <nav>
      <div id="galleryThumbImg" style="width:80px;overflow:hidden">
        <% @images.each do |doc_img| %>
        <%= link_to image_tag(doc_img.url(:thumb)), doc_img.url%>
        <% end %>
      </div>
    </nav>
    <section>
      <div id="myDiv" style="width:1024px; height:1448px; overflow:hidden; border:solid 1px #a6a6a6;"></div>
    </section>
    <aside>
      <p>print it</p>
    </aside>
    </div>
  </div>
  </body>
</html>
