<html>
  <head>
	<style type="text/css">
		#wapper{text-align:center; width:1000px; margin:0 auto;}
		nav{
			width:10%;
			float:left;
		}
		section{
			width:90%;
			float:left;	
		}

		@media screen{
			not_show{
				display:none;
			}
		}
		@media print{
			not_show{
			}
		}
	</style>
  </head>
  <body>
  <div id="wapper">
        <nav style="height:1140px;overflow-y:auto;">   
           <input type=button value="프린트하기" onclick=printElem({printMode:"iframe",leaveOpen:true});>	
	<div id="galleryThumbImg" style="width:80px;">
             <% @counter = 0 %>
             <% @images.each do |doc_img| %>
	     <% @counter = @counter + 1%>
	     <%=@counter %>쪽
             <%= link_to image_tag(doc_img.url(:thumb)), doc_img.url%>
		<br><br>		
             <% end %>
		<br>
        </div>
	</nav>
        <section>  
	<div id="myDiv" style="width:808px; height:1143px; overflow:hidden; border:solid 1px #a6a6a6;"></div>
	</section>
  </div>

  <not_show>
  <div id="printArea">
    <% @images.each do |doc_img| %>
    <%= image_tag(doc_img.url) %>
    <% end %>
  </div>
  </not_show>
</html>
