%footer.no-print
  .row
    .content
      .span2
        = image_tag 'footer_logo.png', alt: 'koreport'
      .span6
        %p
          %strong 주식회사 코리포트
          서울특별시 노원구 화랑로 653 3층   TEL : 02) 499-3111    FAX : 02) 499-3111   사업자 등록번호: 217-81-38044   통신판매번호:     대표 E-mail: help@koreport.com   대표이사: 권재륜
      .span4
        = link_to '개인정보 보호정책 |', '#'
        = link_to ' 이용약관 |'
        = link_to '제휴제안'
