%footer
  .container
    .row
      .span2
        = image_tag 'footer_logo.png', alt: 'koreport'
      .span7
        %p koreport corperation, bullabullabulla
      .span3
        = link_to 'personal information |', '#'
        = link_to ' corperation information |'
        = link_to 'hi'