%footer
  .row
    .content
      .span12{style: 'text-align: center'}
        %h3{style: 'margin-bottom: 10px'} 계좌번호 : 우리은행 1006-601-376616 (주)코리포트
      .span2
        = image_tag 'footer_logo.png', alt: 'koreport'
      .span7
        %p
          %strong 주식회사 코리포트
          서울특별시 노원구 화랑로 653 3층   TEL : 02) 499-3111    FAX : 02) 499-3111   사업자 등록번호: 217-81-38044   통신판매번호: 제 2012-서울노원-0516 호   대표 E-mail: help@koreport.com   대표이사: 권재륜
      .span3
        = link_to '개인정보 보호정책 |', personal_path
        = link_to ' 이용약관', legal_path
